.center-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-messages {
    overflow-y: auto;
    overflow-x: hidden;
}

.row {
    margin-bottom: 30px;
}

mat-card {
    width: 100%;
    max-width: 600px;
    margin: 0 10px;
}


mat-form-field {
    width: 100%;
    max-width: 600px;
}