<div class="row">
    <div *ngIf="message.author === 'llm'" class="col-md-2">
        <img src="assets/robot.png" class="img-fluid" alt="Owner Picture"
            style="border-radius: 50%; width: 50px; height: 50px;">
    </div>
    <div class="col-md-10">
        <mat-card>
            <mat-card-content>
                <markdown ngPreserveWhitespaces>
                    {{message.message}}
                </markdown>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngIf="message.author === 'user'" class="col-md-2">

    </div>
</div>